dconf/
libreoffice/
user-dirs.dirs
user-dirs.locale
Code/*
!Code/User/
Code/User/*
!Code/User/settings.json
!Code/User/keybindings.json
BraveSoftware/
spotify/
pulse/
systemd/
obs-studio/
Bitwarden/
go/
composer/
yay/
clipse/clipboard_history.json

*.log
*.cache
